section{
    padding-top: 2%;
}

ul > li{
    margin-bottom: 1%;
    list-style-type: none;
    text-align: center;
    font-family: Arial, serif;
    color: darkslateblue;
    font-size: 150%;
}

ul > li > a{
    text-decoration: none;
}

header{
    text-align: right;
    background: cornflowerblue;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial, serif;
}

footer{
    background: cornflowerblue;
}

table {
    margin: 2% auto auto;
    border-collapse: collapse;
}

th{
    color: rgba(0,0,0,0.6);
}

td, th{
    text-align: center;
    font-family: Arial, serif;
    height: 2.5em;
    padding: 0 20px 0 20px;
}

tr{
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

tr:last-child{
    border-bottom: none;
}

.addButton{
    width: 90%;
}

.contentTable{
    animation: slide-up 0.6s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
    margin: 0.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
}

button:hover{
    background:#1C7F30;
    transition-duration: 0.4s;
}

div#divWithButtons{
    text-align: center;
}

div#thisAccount{
    display: inline-block;
    padding: 0.5em;
    font-size: 1.1em;
    margin: 0;
}

button#signOutButton{
    background: white;
    color: #333333;
    display: none;
    font-size: 1em;
    margin: 0;
}

button#signOutButton:hover{
    background: gainsboro;
}

button.deleteButton{
    background : #DD5555;
}

button.editButton{
    background: cornflowerblue;
}

button.deleteButton:hover{
    background: #FF7777;
}

button.editButton:hover{
    background: #84B5FD;
}